body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 860px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: aqua;
}

.signin {
    color: blue;
    text-align: center;
    font-size: 4rem;
}

.larger {
    font-size: x-large;
    text-align: center;
    background-color: aqua;
}